---
layout: default
post: /posts
---

<section id="homepage">
  <h1>
  Top stories
  </h1>
  <div class="yellow_border_wrapper">
    <span class="yellow_wrapper"></span>
      <div class="grid">
        <div class="col-3">
          {% for post in site.posts limit:1 offset:1 %}
          <div class="homepage_grid_post">
            <a href="{{post.url}}"><img src="{{post.image}}" class="smaller_homepage_image"/></a>
            <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
            <a href="{{post.url}}"><p>{{post.description}}</p></a>
          </div>
          {% endfor %}
          {% for post in site.posts limit:1 %}
          <div class="homepage_grid_post">
            <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
            <a href="{{post.url}}"><p>{{post.description}}</p></a>
          </div>
          {% endfor %}
          {% for post in site.posts limit:1 offset:4 %}
          <div>
            <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
            <a href="{{post.url}}"><p>{{post.description}}</p></a>
          </div>
          {% endfor %}
        </div>
        <div class="col-6">
          {% for post in site.posts limit:1 offset:6 %}
          <div class="homepage_grid_post">
            <a href="{{post.url}}"><img src="{{post.image}}" class="main_image"/></a>
            <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
            <a href="{{post.url}}"><p>{{post.description}}</p></a>
          </div>
          {% endfor %}
          {% for post in site.posts limit:1 offset:3 %}
          <div class="grid">
            <div class="col-7">
              <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
              <a href="{{post.url}}"><p>{{post.description}}</p></a>
            </div>
            <div class="col-5-middle">
            <a href="{{post.url}}"><img src="{{post.image}}" class="smaller_homepage_image"/></a>
            </div>
          </div><!--closing mini-grid-->
          {% endfor %}
        </div>
        <div class="col-3">
          {% for post in site.posts limit:1 offset:2 %}
          <div class="homepage_grid_post">
            <a href="{{post.url}}"><img src="{{post.image}}" class="smaller_homepage_image"/></a>
            <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
            <a href="{{post.url}}"><p>{{post.description}}</p></a>
          </div>
          {% endfor %}
          {% for post in site.posts limit:1 offset:5 %}
          <div class="homepage_grid_post">
            <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
            <a href="{{post.url}}"><p>{{post.description}}</p></a>
          </div>
          {% endfor %}
          {% for post in site.posts limit:1 offset:7 %}
          <div>
            <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
            <a href="{{post.url}}"><p>{{post.description}}</p></a>
          </div>
          {% endfor %}
        </div>
      <div><!--closing grid-->
  </div><!--closing wrapper-->
</section>
<section class="latest">
  <h2 class"latest_title">The latest</h2>
  <div class="yellow_border_wrapper">
    <span class="small_yellow_border"></span>
    <div class="grid">
      <div class="col-8 grid">
        {% for post in site.posts limit:3 offset:2 %}
        <div class="col-5">
          <a href="{{post.url}}"><img src="{{post.image}}" class="latest_post_image"/></a>
        </div>
        <div class="col-7">
          <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
          <p>{{page.date | date_to_long_string}}</p>
        </div>
        {% endfor %}
      </div>
      <div class="col-4">
        <h3>Vox news</h3>
        <!---RSS feed-->
      </div>
    </div><!--closing grid-->
</div>
</section>
