---
layout: default
post: /posts
---

<section id="homepage">
  <h1>
  Top stories
  </h1>
  <div class="grid-middle">
    <div class="col-3">
      {% for post in site.posts limit:1 offset:1 %}
      <div class="homepage_grid_post">
        <a href="{{post.url}}"><img src="{{post.image}}" class="smaller_homepage_image"/></a>
        <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
        <a href="{{post.url}}"><p>{{post.description}}</p></a>
      </div>
      {% endfor %}
      {% for post in site.posts limit:1 %}
      <div class="homepage_grid_post">
        <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
        <a href="{{post.url}}"><p>{{post.description}}</p></a>
      </div>
      {% endfor %}
      {% for post in site.posts limit:1 %}
      <div>
        <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
        <a href="{{post.url}}"><p>{{post.description}}</p></a>
      </div>
      {% endfor %}
    </div>
    <div class="col-6">
      {% for post in site.posts limit:1 %}
      <div class="homepage_grid_post">
        <a href="{{post.url}}"><img src="{{post.image}}" class="main_homepage_image"/></a>
        <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
        <a href="{{post.url}}"><p>{{post.description}}</p></a>
      </div>
      {% endfor %}
      {% for post in site.posts limit:1 offset:3 %}
      <div class="grid">
        <div class="col-9">
          <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
          <a href="{{post.url}}"><p>{{post.description}}</p></a>
        </div>
        <div class="col-3">
        <a href="{{post.url}}"><img src="{{post.image}}" class="smaller_homepage_image"/></a>
        </div>
      </div><!--closing mini-grid-->
      {% endfor %}
    </div>
    <div class="col-3">
      {% for post in site.posts limit:1 offset:2 %}
      <div class="homepage_grid_post">
        <a href="{{post.url}}"><img src="{{post.image}}" class="smaller_homepage_image"/></a>
        <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
        <a href="{{post.url}}"><p>{{post.description}}</p></a>
      </div>
      {% endfor %}
      {% for post in site.posts limit:1 %}
      <div class="homepage_grid_post">
        <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
        <a href="{{post.url}}"><p>{{post.description}}</p></a>
      </div>
      {% endfor %}
      {% for post in site.posts limit:1 %}
      <div>
        <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
        <a href="{{post.url}}"><p>{{post.description}}</p></a>
      </div>
      {% endfor %}
    </div>
  <div><!--closing grid-->
</section>
