<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.1/gridlex.min.css">
    <link rel="stylesheet" href="../style/normalize.css">
    <!--stylesheet for fonts-->
    <link rel="stylesheet" href="../style/style.css" >
    <script src="https://use.fontawesome.com/d305d8ae15.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  </head>
  <body>
  <header>
    <div class="grid">
      <div class="col-3">
        <a href="/index.html"><img src="../images/Food+Politicking_transparent.png" alt="Logo" class="logo"/></a>
      </div>
        <nav class="col-6 nav_background">
          <a href="/content_group_explainers">Explainers</a>
          <a href="/content_group_politics_and_policy">Politics and policy</a>
          <a href="content_group_food">Food</a>
        </nav>
        <div class="dropdown col-1 nav_background">
          <span>More</span>
          <div class="dropdown_content">
            <p><a href="/content_group_energy">Energy</a></p>
            <p><a href="/content_group_environment">Environment</a></p>
            <p><a href="/content_group_world">World</a></p>
          </div>
        </div>
      <div class="col-1 nav_background">
        <a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
      <div class="col-1 nav_background">
      </div>
  </div><!--closing grid-->
  </header>

  {{content}}

  <footer>
    <div class="grid-middle">
      <div class="col-3">
        <img src="../images/Food+Politicking_transparent.png" class="logo" alt="logo"/>
      </div>
    <div class="col-9 grid-middle-center">
      <img src="../images/Andrew_schein.jpg" alt="author image" class="author"/>
      <p>A project between friends to make our procrastination (reading about politics, food, and environmental stuff) into something vaguely productive…?
      </p>
      <nav class=" col grid footer_nav">
        <a href="" class="col">Terms of use</a>
        <a href="" class="col">Privacy policy</a>
        <a href="" class="col">Contact</a>
      </nav>
    </div>
  </div><!--closing grid-->
  </footer>
  </body>
</html>
