<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.1/gridlex.min.css">
    <link rel="stylesheet" href="style/normalize.css">
    <!--stylesheet for fonts-->
    <link rel="stylesheet" href="style/style.css" >
    <script src="https://use.fontawesome.com/d305d8ae15.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  </head>
  <body>
  <header>
    <div class="grid">
      <div class="col-3">
        <img src="../images/Food+Politicking_transparent.png" alt="Logo">
      </div>
      <nav class="col-6">
        <a href="">Explainers</a>
        <a href="">Politics and policy</a>
        <a href="">Food</a>
      </nav>
      <div class="dropdown col-1">
        <span>More</span>
        <div class="dropdown_content">
          <p><a href="">Energy</a></p>
          <p><a href="">Environment</a></p>
          <p><a href="">World</a></p>
        </div>
      </div>
    <div class="col-2">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </div>
  </div><!--closing grid-->
  </header>



  <footer>


  </footer>

  </body>
</html>
